<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/index.css" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome to EliteMode!</h1>
    <p>
      Join the EliteMode community! We would be thrilled to have you on board.
    </p>
    <div>
      <a href="/auth/sign-up">Sign Up</a>
      <a href="/auth/sign-in">Sign In</a>
    </div>
  </body>
</html>
