<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Home Page</title>
  </head>
  <body>
    <% if (user) { %>
      <h1>Hello, <%= user.username %></h1>
      <p>
        <a href="/auth/sign-out">sign out</a>
      </p>
    <% } else { %>
      <h1>Hello, Guest.</h1>
      <a href="/auth/sign-up">sign up</a>
      <a href="/auth/sign-in">sign in</a>
    <% } %>
    <p><a href="/vip-lounge">Get into the VIP Users Only lounge!</a></p>
  </body>
</html>
